// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$blue: #02182B;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$red: #D81E5B;
$orange: #fd7e14;
$yellow: #E7E247;
$green: #198754;
$teal: #55DBCB;
$cyan: #0F7EFB;

$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;


$primary: $blue;
$secondary: $gray-600;
$success: $teal;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: $gray-900;
$discord: #7289da;

$h6-font-size: $font-size-base * 0.8;
